nav {
  background: maroon;
  position: fixed;
  width: 70%;
  height: 50px;
  top: 0px;
  transition: 0.7s;
  padding: 0;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
}
