@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

#logo {
  z-index: 0;
  position: absolute;
  left: 40px;
}

body {
  background: linear-gradient(
    to right,
    #23445ab4 2%,
    #47454073 2% 27%,
    rgb(212, 209, 209) 27% 72%,
    #4745408a 71% 100%
  );
}

nav {
  background: rgb(252, 250, 250);
  position: absolute;
  width: 60%;
  height: 50px;
  left: 360px;
  z-index: 2;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  list-style-type: none;
  border: 1px solid black;
}

h1 {
  position: relative;
  text-align: center;
  top: 100px;
  font-family: "Roboto", sans-serif;
}

#texte {
  position: relative;
  text-align: center;
  top: 120px;
}
h4 {
  font-family: "Roboto", sans-ser;
  letter-spacing: 1px;
}
.image {
  height: 50px;
  position: absolute;
  left: -60px;
}

/**************************************Cologne Centre *********************************/

.DEVELOPPEMENT {
  position: absolute;
  bottom: 41%;
  left: 35%;
}

.APPLICATIONS {
  position: absolute;
  bottom: 41%;
  left: 55%;
}

.CONSULTING {
  bottom: 26%;
  position: absolute;
  left: 35%;
}

.OPTIMISATION {
  position: absolute;
  bottom: 27%;
  left: 55%;
}

/**************************************Cologne GAUCHE *********************************/

.solution {
  position: absolute;
  bottom: 41%;
  left: 12%;
}

.WEBMARKETING {
  position: absolute;
  left: 12%;
  bottom: 26%;
}

/************************************* Cologne doite ***********************************/

.HEBERGEMENT {
  position: absolute;
  bottom: 41%;
  right: 15%;
}

.ACCOMPAGNEMENT {
  position: absolute;
  right: 13.2%;
  bottom: 25%;
}
